.row {
  width: 100%;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 2.5px 5px 10px #e0e0e0
}

.place {
  font-size: 0.95rem;
}

.avatar {
  border-radius: 50%;
}

.name {
  font-size: 1rem;
}

.score {
  font-size: 1.3rem;
  color: #36B680
}